@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* ===========================
   Light Theme
=========================== */

:root {
    --background: #f8fafc;
    --surface: #ffffff;

    --foreground: #0f172a;
    --muted-foreground: #64748b;

    --border: #e2e8f0;

    --primary: #1d4ed8;
    --primary-hover: #2563eb;
    --primary-active: #1e40af;
    --primary-foreground: #ffffff;
}

/* ===========================
   Dark Theme
=========================== */

.dark {
    --background: #0f172a;
    --surface: #1e293b;

    --foreground: #f8fafc;
    --muted-foreground: #94a3b8;

    --border: #334155;

    
    --primary: #3b82f6;
    --primary-hover: #60a5fa;
    --primary-active: #1d4ed8;
    --primary-foreground: #ffffff;
}

/* ===========================
   Base
=========================== */

html,
body,
#root {
    min-height: 100%;
    background: var(--background);
    color: var(--foreground);
}

body {
    margin: 0;
    transition: background-color .2s ease, color .2s ease;
}